body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color: black;
    color:  #c6aff0;
}button{
    background-color: #37078b;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
   box-shadow:2px 3px 8px -2px  #c6a6ff ;
    padding: 10px 20px;
    font-weight: bold;
    color:  #c6a6ff;
    border: none;
}
#delete-el{
    background-color: #cfbded;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    color:#37078b;
    box-shadow:2px 3px 8px -2px  #9765ec ;

}
input{
    background: none;
    color: azure;
    border-radius: 10px;
    box-shadow: 1px 2px 8px -1px #c6a6ff ;
    border: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a
{
color:azure;
}
ul{ 
    padding-left: 0px;
    margin-top: 10px;
    margin-left: 10px;
    list-style: none;
}
li{
    margin-top: 5px;
}
